body {
    background-color: gray;
}

header {
    color: rgb(37, 35, 35);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

main {
    display :flex;
    width: 60%;
    margin: 0 auto;
    justify-content: flex-start;
    gap: 10%;
    max-width: 1000px;
}

#settings {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

#settings button {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
#settings button:hover {
    color: white;
    background-color: rgb(49, 48, 48);
}

#grid {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: white;
    box-shadow: 5px 5px 5px rgb(43, 42, 42);
}

#grid div {
    border: 1px dotted gray;
}

@media only screen and (max-width: 650px) {
    #grid {
        height: 300px;
        width: 300px;
    }
    #clearButton {
        width: 70%;
    }
}
